.datatable-crud-demo .blog-image {
    width: 230px;
    background-size: cover;
    object-fit: cover;
    height: 120px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.edit-lable {
    font-weight: 600;
}