a.edit-process{
    background-color: #f7941d !important;
}
.p-inputnumber{
    width: 100%;
}
.edit-dropDown .p-dropdown{
    width: 100%;
}
.product-details{
    justify-content: space-between;
    padding: 0px 30px;
    margin-bottom: 20px;
    align-items: center;
}
.product-details img{
    width: 50px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}
.product-count{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -6px;
    left: 41px;
    background: #2a9dcc;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
}