.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form.form_login, form.form_Register {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
}
form.form_login .form-group input,form.form_Register .form-group input {
  height: 45px;
}

form.form_login .form-group button,form.form_Register .form-group button {
  background: orange;
  outline: none;
  border: none;
  border-radius: 39px;
}

.ant-modal.content_modal .ant-modal-content {
  border-radius: 10px;
  background: #f9f2e8;
}
.edit_login {
  padding-top: 22px;
}
button.btn.btn-primary.editButton_Loading.login {
  width: 125px !important;
}
/* form.form_Register {position: absolute;right: 65px;
  top: 23px;}

.ant-modal.content_modal {
    width: 1000px!important;
    position: relative;
} */